body{
    background-color: rgb(155, 155, 240);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 30px;
    min-width: 500px;
}

.header, ul{
    display: flex;
    flex-wrap: wrap;
}

.header{
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

ul{
    padding: 0px;
    list-style: none;
    gap: 20px;
    font-size: 18px;
    color: #e5e7eb;
}

a{
    text-decoration: none;
    color: white;
}

.hero, .main, .footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero{
    background-color: #1f2937;
    min-width: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.hero .text, .hero img{
    min-width: 0;
    flex: 0 1 400px;
}

.hero img{
    flex-grow: 1;
    max-height: 400px;
    max-width: 800px;
}

.hero h1{
    font-size: 48px;
    color: #f9faf8;
    margin: 0;
}

.hero p, .hero button{
    font-size: 18px;
    color: #e5e7eb;
    margin: 0;
}

.hero button{
    background-color: #3882f6;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    margin-top: 10px;


}

.main{
    background-color: aqua;
}

.footer{
    background-color: brown;
}

